### 1. Ler e exibir um arquivo CSV usando pandas

In [0]:
df = spark.read.csv("/FileStore/tables/retail.CSV", header=True, sep=';')
df= df.toPandas()
df.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/2010 08:26,"2,55",17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01/12/2010 08:26,"3,39",17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/2010 08:26,"2,75",17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/2010 08:26,"3,39",17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01/12/2010 08:26,"3,39",17850,United Kingdom

### 2. Selecionar colunas específicas de um DataFrame usando pandas

In [0]:
df[['description', 'region']]

,description,region
0,WHITE HANGING HEART T-LIGHT HOLDER,United Kingdom
1,WHITE METAL LANTERN,United Kingdom
2,CREAM CUPID HEARTS COAT HANGER,United Kingdom
3,KNITTED UNION FLAG HOT WATER BOTTLE,United Kingdom
4,RED WOOLLY HOTTIE WHITE HEART.,United Kingdom
...,...,...
541904,PACK OF 20 SPACEBOY NAPKINS,France
541905,CHILDREN'S APRON DOLLY GIRL,France
541906,CHILDRENS CUTLERY DOLLY GIRL,France
541907,CHILDRENS CUTLERY CIRCUS PARADE,France
541908,BAKING SET 9 PIECE RETROSPOT,France

### 3. Filtrar linhas com base em uma condição usando pandas

In [0]:
df.query('region == "United Kingdom" and quantity > "5"')

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/2010 08:26,"2,55",17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01/12/2010 08:26,"3,39",17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/2010 08:26,"2,75",17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/2010 08:26,"3,39",17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01/12/2010 08:26,"3,39",17850,United Kingdom
...,...,...,...,...,...,...,...,...
541861,581581,23561,SET OF 6 RIBBONS PARTY,6,09/12/2011 12:20,"2,89",17581,United Kingdom
541863,581582,23552,BICYCLE PUNCTURE REPAIR KIT,6,09/12/2011 12:21,"2,08",17581,United Kingdom
541867,581584,20832,RED FLOCK LOVE HEART PHOTO FRAME,72,09/12/2011 12:25,"0,72",13777,United Kingdom
541879,581585,22726,ALARM CLOCK BAKELIKE GREEN,8,09/12/2011 12:31,"3,75",15804,United Kingdom
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,09/12/2011 12:49,"2,95",13113,United Kingdom

### 4. Agrupar dados com base em uma coluna usando pandas

In [0]:
(
    df
    .groupby('invoice_no')
    .agg(n        = ('stock_code', 'count'), 
         datetime = ('invoice_date', 'first'))
    .reset_index()
    .sort_values('n', ascending=False)
    .stock_code
)

,invoice_no,n,datetime
18141,573585,1114,31/10/2011 14:41
21897,581219,749,08/12/2011 09:28
22032,581492,731,09/12/2011 10:03
21645,580729,721,05/12/2011 17:24
10713,558475,705,29/06/2011 15:58
21164,579777,687,30/11/2011 15:13
21895,581217,676,08/12/2011 09:20
576,537434,675,06/12/2010 16:57
21646,580730,662,05/12/2011 17:28
881,538071,652,09/12/2010 14:09

### 5. Usar a função max em alguma coluna do DataFrame

In [0]:
df['invoice_date'].max()

Out[33]: '31/10/2011 17:19'